@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@400;700&display=swap");

/*
=============== 
Fonts
===============
*/

/*
=============== 
Variables
===============
*/

:root {
  --purpleLight: #302d43;
  --purpleDark: #282639;
  --neonGreen: #92cf48;
  --lightGrey: #f4f6f9;
  --darkGrey: #eaedf3;
  --white: #fff;
  --ff-primary: "Gayathri", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
  =============== 
  Global Styles
  ===============
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--lightGrey);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
/* img:not(.nav-logo) {
    width: 100%;
    display: block;
  } */

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}

/*
  =============== 
  Sidebar
  ===============
  */

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    display: flex;
    height: 100vh;
    width: 17.5rem;
  }

  .side-nav {
    background: var(--purpleLight);
    position: relative;
    top: 0;
    left: 0;
    width: 17.5rem;
    bottom: 0;
    height: 100vh;
  }

  .side-logo {
    text-align: center;
    margin-top: 1rem;
    color: var(--lightGrey);
  }

  .side-links {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 1rem;
  }
}
/*
  =============== 
  Navbar
  ===============
  */

.nav-center {
  display: block;
  background: var(--purpleLight);
}

nav {
  background: var(--purpleLight);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: var(--lightGrey);
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  outline: none;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}

.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 13rem;
}
@media screen and (min-width: 768px) {
  .nav-center {
    display: none;
  }
  .links {
    height: auto;
  }
}
/*
  =============== 
  Hero
  ===============
  */
/*
  =============== 
  About
  ===============
  */
/* section add to globals */
/* title add to globals */
/* section center add to globals */

/*
  =============== 
  Services
  ===============
  */
