@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@400;700&display=swap");

/*
=============== 
Fonts
===============
*/

/*
=============== 
Variables
===============
*/

:root {
  --purpleSoft: #8269aa;
  --purpleLight: #383453;
  --purpleDark: #282639;
  /* --purpleLinear: linear-gradient(
    to bottom,
    rgba(34, 0, 255, 0.5),
    rgba(170, 170, 170, 0.719) */
  --neonGreen: #92cf48;
  --lightGrey: #f4f6f9;
  --darkGrey: #eaedf3;
  --megaGrey: rgb(90, 90, 90);
  --white: #fff;
  --ff-primary: "Gayathri", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 1rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
  =============== 
  Global Styles
  ===============
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--lightGrey);
  line-height: 1.5;
  font-size: 0.875rem;
  /* min-height: 100vh; */
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
/* img:not(.nav-logo) {
    width: 100%;
    display: block;
  } */

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

a {
  text-decoration: none;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}

.section {
  width: 100%;
  padding: 1rem;
}

@media (min-width: 768px) {
  .section {
    width: 100%;
    max-width: 1300px;
    position: relative;
    top: 5rem;
    left: 17.5rem;
    padding: 2rem;
  }
}

/*
  =============== 
  Sidebar
  ===============
  */

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    display: flex;
    position: relative;
  }

  .side-nav {
    background: var(--purpleLight);
    position: fixed;
    top: 0;
    left: 0;
    width: 17.5rem;
    bottom: 0;
    height: 100vh;
    z-index: 9;
  }

  .side-header {
    margin-top: 1rem;
  }

  .side-logo {
    text-align: center;
    color: var(--lightGrey);
    cursor: default;
  }

  .side-links {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    /* grid-row-gap: 1rem; */
  }

  ion-icon {
    margin-right: 0.5rem;
    position: relative;
    top: 0.17rem;
    color: var(--neonGreen);
  }

  .side-links a {
    /* padding-left: 3rem; */
    color: var(--lightGrey);
    text-transform: capitalize;
    transition: var(--transition);
    font-size: 1.5rem;
    padding: 1rem 0 1rem 3rem;
  }

  .side-links a:hover {
    border-left: 5px solid var(--neonGreen);
    background: var(--purpleDark);
    padding-left: 5rem;
  }

  .side-links .active {
    background: var(--purpleDark);
    border-left: 5px solid var(--neonGreen);
    padding-left: 2.7rem;
  }
}
/*
  =============== 
  Navbar
  ===============
  */

.nav-center {
  display: block;
  background: var(--purpleLight);
}

nav {
  background: var(--purpleLight);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: var(--lightGrey);
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  outline: none;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  color: var(--lightGrey);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  border-left: 5px solid var(--neonGreen);
  background: var(--purpleDark);
  padding-left: 3rem;
}

.links .active {
  background: var(--purpleDark);
  border-left: 5px solid var(--neonGreen);
}

.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 13rem;
}
@media screen and (min-width: 768px) {
  .nav-center {
    display: none;
  }
  .links {
    height: auto;
  }
}
/*
  =============== 
Header
  ===============
  */

.header {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 17.5rem;
    width: 100%;
    height: 5rem;
    background: var(--darkGrey);
    display: grid;
    grid-template-columns: auto 30rem;
    box-shadow: var(--light-shadow);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    padding: 1rem;
    align-content: center;
    z-index: 10;
  }

  .search {
    height: 3rem;
    width: 80%;
  }

  .input-search {
    width: 80%;
    max-width: 1300px;
    height: 3rem;
    position: relative;
    border: transparent;
    border-radius: 0.5rem;
  }

  .s-icon {
    position: absolute;
    top: 1.7rem;
    left: 1.3rem;
    font-size: 1.5rem;
    color: rgb(143, 142, 142);
  }

  input::placeholder {
    color: rgb(143, 142, 142);
    letter-spacing: var(--spacing);
    font-weight: 300;
    font-size: 1rem;
  }
  input[type="text"] {
    color: var(--neonGreen);
    font-weight: 600;
    width: 100%;
    max-width: 1000px;
    padding-left: 2.5rem;
    font-size: 1.2rem;
  }

  input:focus {
    outline: none;
    box-shadow: var(--light-shadow);
  }

  .icons {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .icons a {
    margin: 0 0.5rem;
    transition: var(--transition);
    font-size: 1.3rem;
  }

  .icons ion-icon {
    transition: var(--transition);
  }
  .icons ion-icon:hover {
    color: rgb(10, 94, 10);
  }

  .notify {
    position: relative;
  }

  .icons a .note {
    position: absolute;
    color: var(--lightGrey);
    background: red;
    border-radius: 50%;
    border: transparent;
    height: 1rem;
    width: 1rem;
    font-size: 0.7rem;
    text-align: center;
    bottom: 1.2rem;
    right: 0.14rem;
    padding-top: 0.1rem;
  }

  .profile {
    display: flex;
    width: 4rem;
    height: 2rem;
  }

  .profile ion-icon {
    padding-left: 0.5rem;
  }

  .user {
    background: url("../img/profile.jpeg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.5rem;
  }
}
/*
  =============== 
Dashboard
  ===============
  */

.profile-title {
  min-height: 100vh;
}

.profile-heading h2 {
  margin-top: 3rem;
  color: var(--purpleSoft);
  letter-spacing: var(--spacing);
}

.profile-heading p {
  color: var(--megaGrey);
  font-weight: 500;
  letter-spacing: var(--spacing);
}

/*
  =============== 
 Cards
  ===============
  */

.cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  transition: var(--transition);
  justify-items: center;
}

.card {
  border: transparent;
  background: var(--white);
  box-shadow: var(--light-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 25rem; */
  transition: var(--transition);
  border-radius: 0.5rem;
  max-width: 25rem;
  height: 28rem;
}
.card:hover {
  box-shadow: var(--dark-shadow);
}

/* profile */
.profile-img {
  background: url("../img/pexels-thirdman-5060987.jpg");
  background-position: center 10%;
  background-size: cover;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  padding: 1rem;
  margin: 2rem 0;
}

.profile-name {
  color: var(--purpleSoft);
}
.profile-job {
  color: grey;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(128, 128, 128, 0.185);
}
.profile-info {
  display: flex;
  padding-top: 1rem;
  color: var(--megaGrey);
}

.profile-info .education {
  padding: 0 1rem;
}
/* end of profile */

/* interview */
.interview {
  font-size: 1.3rem;
}

@media (min-width: 997px) {
  .interview {
    width: 90%;
    text-align: center;
    font-size: 1.8rem;
  }
}

.date {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-left: 3px solid var(--neonGreen);
  width: 100%;
  text-align: center;
  color: var(--megaGrey);
  letter-spacing: var(--spacing);
  background: rgba(214, 214, 214, 0.664);
}

.tasks {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  color: var(--megaGrey);
  text-align: center;
  text-transform: capitalize;
}

.tasks p:nth-child(3) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.432);
  padding-bottom: 0.5rem;
}

/* end of interview */

/* stage */
.stage {
  display: flex;
}
/* end of stage */

@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
    column-gap: 1rem;
    width: 100%;
    max-width: 900px;
    transition: var(--transition);
    justify-items: flex-start;
  }

  .card {
    width: 100%;
    max-width: 25rem;
    height: 25rem;
  }
}

@media (min-width: 1000px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    width: 100%;
    /* max-width: 1200px; */
    transition: var(--transition);
    justify-items: flex-start;
  }

  .card {
    margin: 0;
    max-width: 25rem;
    height: 28rem;
  }
}
@media (min-width: 1300px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    width: 100%;
    max-width: 1300px;
    transition: var(--transition);
  }

  .card {
    width: 100%;
    max-width: 50rem;
  }
}

/*
  =============== 
Table
  ===============
  */
.table {
  margin: 0;
}

.table {
  margin-top: 5rem;
  min-height: 70vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 700px;
}
table {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  box-shadow: var(--dark-shadow);
}

thead {
  background: var(--darkGrey);
}

th {
  padding: 1rem;
  border: transparent;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
}

td {
  padding: 1rem;
  background: var(--white);
}

td span {
  padding: 0.7rem;
  margin-right: 0.5rem;
  color: var(--white);
  background: coral;
  border-radius: 50%;
  text-align: center;
  height: 45px;
  width: 45px;
}

@media (min-width: 600px) {
  .table {
    margin-top: 5rem;
    min-height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 700px;
  }
}

@media (min-width: 768px) {
  .table {
    margin-top: 5rem;
    min-height: 30vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
  }
  table {
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: var(--dark-shadow);
  }

  thead {
    background: var(--darkGrey);
  }

  th {
    padding: 1rem;
    border: transparent;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
  }

  td {
    padding: 1rem;
    background: var(--white);
  }

  td span {
    padding: 0.7rem;
    margin-right: 0.5rem;
    color: var(--white);
    background: coral;
    border-radius: 50%;
    text-align: center;
    height: 45px;
    width: 45px;
  }
}
/*
  =============== 
  Services
  ===============
  */
